@use "@picocss/pico/scss/pico" with (
  $theme-color: "pumpkin"
);

:root {
  --max-picture-height: 600px;
}

a:is([aria-current]) {
  font-weight: bold;
}

h1 {
  --pico-typography-spacing-vertical: 1.5rem;
}

h2 {
  --pico-typography-spacing-vertical: 1.125rem;
}

h3 {
  --pico-typography-spacing-vertical: 0.75rem;
}

h4 {
  --pico-typography-spacing-vertical: 0.374rem;
}

h5 {
  --pico-typography-spacing-vertical: 0.1875rem;
}
